<div>
<div class= "poke">
<img class="pokelogo" src='./pokelogo.png'>
</div>

<div class= "poke colorW backgroundColor margin">
<form action='poke' method='POST'>
    <label for='pokemon'>Pokemon:</label>
    <input id='pokemon' type='text' name='pokemon'>
    <input id='submit' type='submit' value='Catch Em all'>
</form>
</div>
<ul class="backgroundColor colorW centerMe margin fSize">
    {{#each data}}
    <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>
</div>